<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <services>
            <service name="MiniTorrentService.WCFMiniTorrentService">
                <endpoint address="http://localhost:8005/MiniTorrentService" binding="basicHttpBinding" bindingConfiguration="" name="MiniTorrentEndpoint" contract="MiniTorrentService.IWCFMiniTorrentService" />
            </service>
        </services>
    </system.serviceModel>
<connectionStrings><add name="myDBEntities" connectionString="metadata=res://*/Database.csdl|res://*/Database.ssdl|res://*/Database.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\myDB.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>