<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <!--<add name="MiniTorrentServer.Properties.Settings.MiniTorrentDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\user\Documents\GitHub\MiniTorrent\MiniTorrentPortal\App_Data\MiniTorrentDB.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="MiniTorrentServer.Properties.Settings.MiniTorrentDBConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\AviadZini\Documents\GitHub\MiniTorrent\MiniTorrentPortal\App_Data\MiniTorrentDB.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="MiniTorrentServer.Properties.Settings.MiniTorrentDBConnectionString2"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\MiniTorrentDB.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />-->
      <add name="MiniTorrentLibrary.Properties.Settings.MiniTorrentDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\AviadZini\Documents\GitHub\MiniTorrent\MiniTorrentLibrary\MiniTorrentDB.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>